
<h1 class="zeleni">UniToy</h1>



<div class="row">
    <div class="crni">
        <p1> UniToy is a company founded in 2018 by three students from Sarajevo. Satisfied and happy children are the foundation of our healthy future. Encouraging creativity, expression, and transference  the imaginary world on paper, greatly enhances intelligence, self-awareness and freedom in children. Precisely for these reasons, we have decided, in cooperation with children and parents, that with respect to their requests, we allow this group to create our offer. Children and parents are free to make their own ideal figure, actually a toy, with the aforementioned specifications. Our mission is to turn your dreams into reality, with mutual satisfaction. Children are often amazed by the fantasy world displayed on television and characters in cartoons, which causes their identification with the same name. Therefore, we will be able to give them the ability, through the drawing of their favorite heroes or toys, to enliven their imagination world, whether we do it traditionally through paper and pencils, or through special programs on computers for which the program will be in charge of the IT sector.  </p>
    </div>
</div>

<style>
.crni{
color:black;
text-align:center;
font-style:Italic;
font-size:30px;
}
</style>

