<div class="container">

<h1 class="zeleni">UniToy</h1>

<div class="jumbotron">
<h1>Wish Yourself a Lovely Toy !</h1>
</div>

<center>
<a href="<%= paint_path %>" class="myButton">Paint &nbsp; <i class="fa fa-paint-brush"></i></a> 
<br/><br/><br/>

<a href="<%= choose_path %>" class="choose_one">Choose one of ours &nbsp; <i class="fa fa-heart-o"></i></a>
<br/><br/><br/>

<a href="<%= imagine_path %>" class="imagine_btn">Imagine & Pick &nbsp; <i class="fa fa-lightbulb-o"></i></a>
<br/><br/><br/>

</center>



<style>
.imagine_btn {
	background-color:#30b3b8;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #6ec3f0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #6ec0e6;
}
.imagine_btn:hover {
    background-color:#3d9fbd;
    text-decoration: none;
}
.imagine_btn:active {
	position:relative;
	top:1px;
}


.choose_one {
	background-color:#c7455f;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ab1937;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662849;
}
.choose_one:hover {
    background-color:#bd2a53;
    text-decoration: none;
    color: #ff99c2;
}
.choose_one:active {
	position:relative;
	top:1px;
}



.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
    background-color:#5cbf2a;
    text-decoration: none;
    color: #bfff80;
}
.myButton:active {
	position:relative;
	top:1px;
}



.zeleni{
color:white;
text-align:center;
font-style:Italic;
background-color:pink;
}

.jumbotron{
    background-color:white;
    word-spacing:5px;
    font-style:Italic;
    background-color:yellow;
    text-align:center;
}
</style>



