<br/><br/>

<div class="row">

    <div class="col-md-4">

        <img class="grab" src="/toy1.jpg" />

    </div>

    <div class="col-md-4">

        <img class="grab" src="/toy2.jpg" />

    </div>

    <div class="col-md-4">

        <img class="grab" src="/toy3.jpg" />

    </div>

</div>

<br/><br/><br/><br/>

<div class="row">

    <div class="col-md-4">

        <img class="grab" src="/toy4.jpg" />

    </div>

    <div class="col-md-4">

        <img class="grab" src="/toy5.jpg" />

    </div>

    <div class="col-md-4">

        <img class="grab" src="/toy6.jpg" />

    </div>

</div>





<style>

img{
    width: 350px;
    height: 300px;
    margin: 10px;
}

img:hover{
    opacity: 0.5;
}
.grab {cursor: -webkit-grab; cursor: grab;}
</style>