<div class="container">

<h1 class="zeleni">UniToy</h1>

<div class="jumbotron">
<h1>Wish Yourself a Lovely Toy !</h1>
</div>

<style>
.zeleni{
color:white;
text-align:center;
font-style:Italic;
background-color:pink;
}

.jumbotron{
    background-color:white;
    word-spacing:5px;
    font-style:Italic;
    background-color:yellow;
    text-align:center;
}
</style>



  <button type="button" class="btn">Paint ! </button>
</div>

<style>
.btn{
    width:250px;
    height:140px;
    color:green;
}

