<div class="container">

<h1 class="zeleni">UniToy</h1>

<style>
.zeleni{
color:white;
text-align:center;
font-style:Italic;
background-color:pink;
}
</style>

<div class="row">

<div class="bijeli">
<p1> UniToy is a company that is ready to continually cooperate with customers in order to achieve mutual satisfaction. In this regard, UniToy provides the possibility for all interested customers to contact our experts via E-mail or via contact phone, as follows:

<div class="plavi">
<p1> E-mail: lejla.dedic@student.efsa.unsa </p1>
</div>

<div class="rozi">
<p1> Phone: 033 876 809</p1>
</div>
</div>


<img src="balons.jpg"/>


<style>
.bijeli{
color:black;
text-align:center;
font-style:Italic;
font-size:20px;
}

img{
width:1000px;
padding-top:50px;
margin-right:20px;
height:700px;
margin-left:0px;
}
</style>


