<div class="container">

<h1 class="zeleni">UniToy</h1>

<div class="jumbotron">
<h1>Wish Yourself a Lovely Toy !</h1>
</div>

<div class="row">

<div class="col-md-12">
<%=link_to "Create an account", root_path, class:"zuti"%>
</div>

<div class="col-md-6">
<%=link_to "Sign in", root_path, class:"lejla"%>
</div>

<div class="col-md-6">
<%=link_to "About us", root_path, class:"neko"%>
</div>

<div class="col-md-6">
<%=link_to "Contact", root_path, class:"edina"%>
</div>
</div>

<img src="slika.jpg"/>

<style>
img{
    width:800px;
padding-down:300px;
margin-right:400px;
}
.zeleni{
color:white;
text-align:center;
font-style:Italic;
background-color:pink;
}

.jumbotron{
    background-color:white;
    word-spacing:5px;
    font-style:Italic;
    background-color:yellow;
}
.zuti{
font-size:25px;
color:black;
}
.lejla{
font-size:25px;
color:black;
}
.neko{
font-size:25px;
color:black;
}
.edina{
font-size:25px;
color:black;
}
</style>





