<div class="container">

<h1> UniToy </h1>

<div class="jumbotron">
<h1> Wish Yourself a Lovely Toy </h1>
</div> 


<div class="row">
<div class="col-md-12">
<p> Create an account</p> 
</div> 

<div class="col-md-6">
<p> ovdje jedno 6 </p>
</div>

<div class="col-md-6">
<p> ovdje drugo 6 </p>
</div>

</div>

<div class="row">

<div class="col-md-3">
<p> 1 </p>
</div>

<div class"col-md-3">
<p> 2 </p>
</div>

<div class"col-md-3">
<p> 3 </p>
</div>

<div class"col-md-3">
<p> 4 </p>
</div>

</div> 



