<div class="container">

<h1 class="zeleni">UniToy</h1>

<div class="jumbotron">
<h1>Wish Yourself a Lovely Toy !</h1>
</div>

<div class="row">

<div class="col-md-12">
<p class="zuti">Create an account</p>
</div>

<div class="col-md-6">
<p class="lejla">Sign in</p>
</div>

<div class="col-md-6">
<p class="neko">About us</p>
</div>

<div class="col-md-6">
<p class="edina">Contact</p>
</div>
</div>

<img src="slika.jpg"/>

<style>
img{
    width:800px;
padding-down:300px;
margin-right:400px;
}
.zeleni{
color:white;
text-align:center;
font-style:Italic;
background-color:pink;
}

.jumbotron{
    background-color:white;
    word-spacing:5px;
    font-style:Italic;
    background-color:yellow;
}
.zuti{
font-size:25px;
}
.lejla{
font-size:25px;
}
.neko{
font-size:25px;
}
.edina{
font-size:25px;
}
</style>

